<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846719016635-la163m60l13efr84qqcjfei0cn6lrv8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846719016635-la163m60l13efr84qqcjfei0cn6lrv8u</string>
	<key>API_KEY</key>
	<string>AIzaSyBLM_vq2Km_5YwQyOIh7ofoZ0Wi5ZCiSa4</string>
	<key>GCM_SENDER_ID</key>
	<string>846719016635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romrell4.Pickleball-Pro</string>
	<key>PROJECT_ID</key>
	<string>pickleball-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>pickleball-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846719016635:ios:f30250275708a15b90d39e</string>
</dict>
</plist>